# Core functionality - changes here should be rare!
/src/app.py                   @escape-w
/src/backend/database.py      @escape-w
/src/backend/routers/auth.py  @escape-w

# The frontend will need refactored soon to be more object oriented.
/src/static/   @escape-w
